@charset "utf-8";
.header{
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    background-color: #f4f4f4;
}
.header-cen{
    width: 1150px;
    margin:auto;
}
.hamburger{
    background-position: -19px -86px;
    background-size: 123px 122px;
    width: 16px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}
.swindle-info{
    color: #444;
    font-size: 12px;
    margin-left: 20px;
    padding: 0 1px;
    height: 32px;
    overflow: hidden;
}
.icon-note{
    display: inline-block;
    background-position: -107px -22px;
    background-size: 123px 122px;
    width: 15px;
    height: 14px;
    margin-top: -2px;
    margin-right: 2px;
    vertical-align: middle;
}
.swindle-info a{
    color: #d71d32;
}
.yoho-buy-tools li {
    float: left;
    padding-right: 10px;
    position: relative;
}
.nav-drop-down-container {
    width: 89px;
    box-sizing: border-box;
    position: relative;
}
.yoho-buy-tools li .hi{
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
}
.yoho-buy-tools a{
    color: #8e8e8e;
    font-size: 12px;
}
.tag-seprate{
    width: 0;
    margin-top: 11px;
    margin-right: 12px;
    height: 14px;
    float: left;
    border-left: 1px solid #dcdcdc;
}
.yoho-buy-tools span{
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}
.icon-bottomarrow{
    background-position: -64px -86px;
    width: 10px;
    height: 5px;
    background-size: 123px 122px;
    margin-top: -2px;
}
.icon-papers{
    background-position: 0 -86px;
    width: 11px;
    height: 14px;
    background-size: 123px 122px;
    margin-top: -2px;
}
.icon-heart{
    background-position: -107px -44px;
    width: 15px;
    height: 13px;
    background-size: 123px 122px;
    margin-top: -2px;
}
.icon-mail{
    background-position: -107px -65px;
    width: 16px;
    height: 11px;
    background-size: 123px 122px;
    margin-top: -2px;
}
.nav-drop-down{
    top: 32px;
    margin-left: 1px;
    width: 88px;
    position: absolute;
    background-color: #eaeceb;
    z-index: 100;
}
.nav-drop-down a{
    display: inline-block;
    width: 88px;
    height: 33px;
    line-height: 33px;
    box-sizing: border-box;
    text-align: center;
}
.nav-drop-down-a{
    border-top:1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
}
.third-nav-wrapper {
    width: 100%;
    height: 410px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 160px;
    padding: 30px 0;
    background-color: #f8f8f8;
    z-index: 900;
}
.third-nav-wrapper a{
    color: #444444 !important;
    font-size: 12px !important;
    display: inline-block;
    width: 100px;
}

.hide-list{
    float: left;
    width: 100% !important;
    height: 352px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}
.third-nav-wrapper dl dd{
    width: 200px;
}
.icon-chat{
    background-position: 0 -62px;
    background-size: 123px 122px;
    width: 18px;
    height: 16px;
    margin-top: -2px;
}
.we-chat>a{
    color: #86bf4a;
}
.we-chat-img {
    margin-left: 30px;
    position: relative;
    background-repeat: no-repeat;
    width: 96px;
    height: 96px;
}
.download-app-box {
    position: absolute;
    top: 32px;
    margin-left: -30px;
    width: 146px;
    padding: 20px 0 14px;
    background-color: #f4f4f4;
    border: none;
    z-index: 1000;
    text-align: center;
}
.qr-img{
    margin-left: 30px;
    position: relative;
    background-repeat: no-repeat;
    width: 96px;
    height: 96px;
}
.phoneapp a {
    color: #d71d32;
}
.icon-phone {
    background-position: 0 -108px;
    background-size: 123px 122px;
    width: 10px;
    height: 14px;
    margin-top: -2px;
}




.search{
    height: 90px;
    width: 100%;
}
.search-cen{
    width: 1150px;
    margin: auto;
}
.main-logo {
    background: no-repeat 50%;
    width: 182px;
    height: 53px;
    left: 43%;
    margin-top: 22px;
    position: absolute;
}
.main-link{
    display: block;
    width: 100%;
    height: 100%;
}
.search-area{
    width: 378px;
    padding-right: 18px;
    margin-top: 40px;
}
.search-2020 .search-key{
    width: 230px;
    height: 24px;
    background: #fff;
    
    border: 1px solid #302f2f;
    padding-left: 10px;
}
.search-btn{
    background: #000000 no-repeat 50%;
    width: 78px;
    height: 28px;
    float: right;
    border: none;
    cursor: pointer;
}
.shopcar{
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    position: relative;
}
.shopcar img{
    width: 30px;
    height: 25px;
}
.nav{
    height: 40px;
    width: 100%;
    background-color: #3a3a3a;
}
.nav-cen{
    width: 1150px;
    margin: auto;
}
.nav-list{
    display: block;
}
.nav-list a{
    line-height: 40px;
    float: left;
    color: #fff;
    padding-right: 46px;
    margin-right: 36px;
    font-size: 14px;
}
.nav-list li:hover{
    text-decoration:overline #fff;
}
.code-box{
    position: fixed;
    top: 260px;
    right: 20px;
    width: 117px;
    padding-top: 20px;
    border: none;
    background-color: transparent;
    z-index: 990;
    display: block;
}
.code-box-img{
    width: 116px;
    height: 116px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.code-box-title{
    font-size: 12px;
    text-align: center;
}
.shut{
    font-size: 25px;
    font-weight: bolder;
    color: #000000;
    position: absolute;
    top: -5px;
    right: 0px;
}
.main-cen{
    width: 1150px;
    // height: 10px;
    // background-color: #000000;
    margin: 10px auto 0px;
    overflow: hidden;
}




//轮播图
.clearFix::after, .clearFix::before {
    content: '';
    display: block;
    clear: both;
}
  
div.banner {
    width: 1150px;
    height: 430px;
    border: none;
    margin: 30px auto 0px;
    position: relative;
    overflow: hidden;
}
  
.banner > ul {
    width: 500%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1150px;
}
  
.banner > ul > li {
    width: 1150px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 100px;
}
  
.banner > ol {
    height: 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
  
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.banner > ol > li {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
  
.banner > ol > li.active {
    background-color: skyblue;
}
  
.banner > div {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.banner > div > a {
    width: 50px;
    height: 60px;
    display: flex;
    font-size: 50px;
    line-height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
}






//SINGHOT
.singlehot{
    width: 1158px;
    height: 665px;
    overflow: hidden;
}
.header-floor{
    position: relative;
    margin: 80px 0 40px;
}
.floor-title{
    margin: 0 auto;
    width: 298px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #000;
    font-size: 16px;
    text-align: center;
}
.g-list li{
    margin-left: 8px;
    margin-bottom:8px;
    float: left;
}
.g-list-last a{
    display: block;
    position: relative;
    overflow: hidden;
    width: 378px;
    height: 248px;
}
.g-list-last img{
    width: 100%;
    height: 100%;
    display: inline-block;
}


//Optimizing brand
.brand-banner{
    position: relative;
    width: 100%;
    height: 175px;
    overflow: hidden;
}
.midimg{
    margin: 0 5px;
}
.brand-banner ul{
    width: 2316px;
}
.brand-banner li{
    float: left;
    margin-right: 8px;
    width: 378px!important;
    height: 175px;
    line-height: 175px;
    overflow: hidden;
    font-size: 0;
    text-align: center;
}
.brand-logo{
    width: 1158px;
    height: 282px;
    overflow: hidden;
}
.brand-logo ul{
    width: 1158px;
}
.brand-logo li{
    float: left;
    margin: 8px 8px 0 0;
    width: 185px;
    height: 86px;
    line-height: 86px;
    font-size: 0;
    text-align: center;
}
.brand-logo-btn{
    position: relative;
    background: no-repeat 50%;
    line-height: normal;
}
.brand-logo li img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.prev{
    position: absolute;
    left: 30%;
    font-size: 50px;
    top: -20px;
}
.next{
    position: absolute;
    right: 30%;
    font-size: 50px;
    bottom: -20px;
}
.brand-more a{
    font-size: 16px;
}



//jacket
.jacket{
    width: 100%;
    position: relative;
}
.header-more{
    position: absolute;
    padding: 10px 0;
    top: 0;
    right: 0;
    font-size: 14px;
}
.jacket-list{
    margin-bottom: 8px;
    height: 506px;
}
.jacket-list-one{
    float: left;
    width: 185px;
    overflow: hidden;
    margin-bottom: 8px;;
}
.jacket-list-one-top{
    margin-bottom: 8px;
}
.jacket-list-one-top1{
    margin-bottom: 10px !important;
    height: 152px !important;
    display: inline-block;
}
.jacket-list-one-top2{
    height: 86px !important;
    display: inline-block;
}
.jacket-list-one-navs{
    height: 228px;
    padding: 10px 0;
    background-color: #f8f8f8;
    overflow: hidden;
}
.jacket-list-one-navs a{
    float: left;
    width: 50%;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    color: #000;
    overflow: hidden;
}
.jacket-list-two li{
    margin-bottom: 8px;
}
.jacket-list-two a{
    display: inline-block;
    height: 248px;
}
.jacket-list-three{
    float: left;
    overflow: hidden;
    margin-top: -8px;
    width: 579px;
}
.jacket-list-three li{
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
.jacket-list-three a{
    width: 185px;
    height: 248px;
}
.jacket-bottom{
    margin-left: -10px;
    overflow: hidden;
}
.jacket-bottom li{
    float: left;
    margin-left: 10px;
}
.jacket-bottom a{
    width: 222px;
    height: 298px;
}




//trousers
.trousers{
    width: 100%;
    position: relative;
}
.header-more{
    position: absolute;
    padding: 10px 0;
    top: 0;
    right: 0;
    font-size: 14px;
}
.trousers-list{
    margin-bottom: 8px;
    height: 506px;
}
.trousers-list-one{
    float: left;
    width: 185px;
    overflow: hidden;
    margin-bottom: 8px;;
}
.trousers-list-one-top{
    margin-bottom: 8px;
}
.trousers-list-one-top1{
    margin-bottom: 10px !important;
    height: 152px !important;
    display: inline-block;
}
.trousers-list-one-top2{
    height: 86px !important;
    display: inline-block;
}
.trousers-list-one-navs{
    height: 228px;
    padding: 10px 0;
    background-color: #f8f8f8;
    overflow: hidden;
}
.trousers-list-one-navs a{
    float: left;
    width: 50%;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    color: #000;
    overflow: hidden;
}
.trousers-list-two li{
    margin-bottom: 8px;
}
.trousers-list-two a{
    display: inline-block;
    height: 248px;
}
.trousers-list-three{
    float: left;
    overflow: hidden;
    margin-top: -8px;
    width: 579px;
}
.trousers-list-three li{
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
.trousers-list-three a{
    width: 185px;
    height: 248px;
}
.trousers-bottom{
    margin-left: -10px;
    overflow: hidden;
}
.trousers-bottom li{
    float: left;
    margin-left: 10px;
}
.trousers-bottom a{
    width: 222px;
    height: 298px;
}



//shoes
.shoes{
    width: 100%;
    position: relative;
}
.header-more{
    position: absolute;
    padding: 10px 0;
    top: 0;
    right: 0;
    font-size: 14px;
}
.shoes-list{
    margin-bottom: 8px;
    height: 506px;
}
.shoes-list-one{
    float: left;
    width: 185px;
    overflow: hidden;
    margin-bottom: 8px;;
}
.shoes-list-one-top{
    margin-bottom: 8px;
}
.shoes-list-one-top1{
    margin-bottom: 10px !important;
    height: 152px !important;
    display: inline-block;
}
.shoes-list-one-top2{
    height: 86px !important;
    display: inline-block;
}
.shoes-list-one-navs{
    height: 228px;
    padding: 10px 0;
    background-color: #f8f8f8;
    overflow: hidden;
}
.shoes-list-one-navs a{
    float: left;
    width: 50%;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    color: #000;
    overflow: hidden;
}
.shoes-list-two li{
    margin-bottom: 8px;
}
.shoes-list-two a{
    display: inline-block;
    height: 248px;
}
.shoes-list-three{
    float: left;
    overflow: hidden;
    margin-top: -8px;
    width: 579px;
}
.shoes-list-three li{
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
.shoes-list-three a{
    width: 185px;
    height: 248px;
}
.shoes-bottom{
    margin-left: -10px;
    overflow: hidden;
}
.shoes-bottom li{
    float: left;
    margin-left: 10px;
}
.shoes-bottom a{
    width: 222px;
    height: 298px;
}




//accessories
.accessories{
    width: 100%;
    position: relative;
}
.header-more{
    position: absolute;
    padding: 10px 0;
    top: 0;
    right: 0;
    font-size: 14px;
}
.accessories-list{
    margin-bottom: 8px;
    height: 506px;
}
.accessories-list-one{
    float: left;
    width: 185px;
    overflow: hidden;
    margin-bottom: 8px;;
}
.accessories-list-one-top{
    margin-bottom: 8px;
}
.accessories-list-one-top1{
    margin-bottom: 10px !important;
    height: 152px !important;
    display: inline-block;
}
.accessories-list-one-top2{
    height: 86px !important;
    display: inline-block;
}
.accessories-list-one-navs{
    height: 228px;
    padding: 10px 0;
    background-color: #f8f8f8;
    overflow: hidden;
}
.accessories-list-one-navs a{
    float: left;
    width: 50%;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    color: #000;
    overflow: hidden;
}
.accessories-list-two li{
    margin-bottom: 8px;
}
.accessories-list-two a{
    display: inline-block;
    height: 248px;
}
.accessories-list-three{
    float: left;
    overflow: hidden;
    margin-top: -8px;
    width: 579px;
}
.accessories-list-three li{
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
.accessories-list-three a{
    width: 185px;
    height: 248px;
}
.accessories-bottom{
    margin-left: -10px;
    overflow: hidden;
}
.accessories-bottom li{
    float: left;
    margin-left: 10px;
}
.accessories-bottom a{
    width: 222px;
    height: 298px;
}





//new goods
.news div{
    margin: 10px;
    text-align: center;
}
.header-floor1{
    position: relative;
    padding: 80px 0 40px;
}
.header-more1 a{
    position: absolute;
    padding: 10px 0;
    top: 70px;
    right: 0;
    font-size: 14px;
}
.header-floor2{
    position: relative;
    margin: 80px 0 40px;
}
.floor-title2{
    margin: 0 auto;
    width: 100px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #000;
    font-size: 16px;
    text-align: center;
    color: #ffff;
    background-color: #000000;
}






//footer
.yoho-footer {
    font-size: 12px;
}
.yoho-footer .footerbottom {
    width: 100%;
}
.yoho-footer * {
    box-sizing: border-box;
}
.yoho-footer .promise {
    padding: 20px 0 10px;
    background: #000;
}
.center-content {
    width: 1150px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
.yoho-footer .promise .left {
    margin-right: 60px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
}
.left, .pull-left {
    float: left;
}
.yoho-footer .promise .left .iconfont {
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 5px;
}
.yoho-footer .red {
    color: #e01;
}
.yoho-footer .rgbf {
    color: #fff;
}
.yoho-footer .promise .left {
    margin-right: 60px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
}
.yoho-footer .promise .left .iconfont {
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 5px;
}
.yoho-footer .footer-help {
    background: #000;
    font-size: 12px;
    overflow: hidden;
}
.yoho-footer .footer-help>div {
    padding: 15px 0;
    border-top: 1px solid #262626;
}
.yoho-footer .footer-help ul {
    width: 110%;
}
.yoho-footer .footer-help li {
    width: 180px;
}
.yoho-footer .footer-help p {
    line-height: 24px;
}
.yoho-footer .footer-help p a {
    color: #666;
}
.yoho-footer .footer-link {
    background: #000;
    padding: 10px 0 14px;
    font-size: 12px;
}
.yoho-footer .footer-link .about-us {
    line-height: 20px;
    color: #666;
    padding-left: 300px;
    position: relative;
}
.yoho-footer .footer-link .left-flag {
    margin-top: 3px;
    position: absolute;
    left: 0;
    top: 12px;
}
.yoho-footer .footer-link .left-flag .govicon{
    display: inline-block;
    border-radius: 2px;
    margin-right: 8px;
    background: #fff;
    width: 76px;
    height: 34px;
}
.yoho-footer .footer-link .left-flag .govimg {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background: no-repeat;
}
.yoho-footer .footer-link .left-flag a {
    margin-right: 5px;
}
.yoho-footer .footer-link .links {
    word-break: keep-all;
}
.yoho-footer .footer-link .about-us a {
    color: #666;
}
.yoho-footer .footer-link .about-us span {
    padding: 0 10px;
}
.yoho-footer .footer-link .copyright {
    text-align: center;
    color: #666;
    padding-top: 20px;
    line-height: 20px;
}
.yoho-footer .footer-link-container {
    background: #000;
    height: 48px;
    overflow: hidden;
    width: 100%;
}
.yoho-footer .footer-link-container>div {
    padding-top: 15px;
    border-top: 1px solid #262626;
}
.yoho-footer .footer-link-container .link-info {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0;
    width: 60px;
    height: 48px;
}
.yoho-footer .footer-link-container .link-section {
    opacity: .9;
    font-size: 12px;
    letter-spacing: 0;
    width: 1090px;
    position: relative;
}
.yoho-footer .footer-link-container .link-section li:first-child {
    margin-left: 11px;
}
.yoho-footer .footer-link-container .link-section li {
    display: inline-block;
    margin-left: 22px;
    height: 48px;
}
.yoho-footer .right-floating-layer {
    position: fixed;
    width: 60px;
    left: 50%;
    bottom: 20px;
    margin-left: 595px;
    z-index: 4;
}
.yoho-footer .qrcode-hover-box {
    width: 71px;
    position: relative;
    left: -11px;
    text-align: right;
}
.yoho-footer .layer-box:first-child {
    margin-top: 0;
}
.yoho-footer .qrcode-download-right {
    display: inline-block;
}
.yoho-footer .layer-box {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #000;
    opacity: .5;
    cursor: pointer;
    margin-top: 20px;
}
.yoho-footer .qrcode-download-right .qrcode-img {
    width: 28px;
    height: 28px;
    background-position: -71px 0;
    background-size: 123px 122px;
    display: inline-block;
    margin-top: 16px;
}
.yoho-footer .download-app-box {
    position: absolute;
    bottom: -80px;
    left: -286px;
    width: 296px;
    height: 180px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: transparent;
    z-index: 1000;
    display: none;
    border: none;
    *zoom: 1;
}
.yoho-footer .download-app-box .download-app-left, .yoho-footer .download-app-box .download-app-right {
    position: relative;
    float: left;
    width: 130px;
    height: 180px;
    padding-top: 10px;
    text-align: center;
    background-color: #f4f4f4;
}
.yoho-footer .download-app-box .qr-code-img {
    margin: 10px auto;
    width: 96px;
    height: 96px;
}
.yoho-footer .download-app-box .qr-words {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    color: #000;
}
.yoho-footer .download-app-box .qr-code-img>img {
    width: 100%;
    height: 100%;
}
.yoho-footer .download-app-box .qr-more a {
    color: #d71d32;
    cursor: pointer;
}
.iconfontlast{
    font-size: 50px;
    vertical-align: middle;
}