@charset "utf-8";
.simple-header{
    height: 66px;
    margin: 0 0 20px;
    border-bottom: 2px solid #222;
}
.header-inner{
    width: 990px;
    height: 100%;
    margin: 0 auto;
    font-size: 12px;
}
.logo{
    float: left;
    line-height: 66px;
    font-size: 0;
}
.header-tool{
    float: right;
    line-height: 66px;
    font-size: 0;
}
.header-tool>li{
    display: inline-block;
    padding: 0 10px;
    line-height: 66px;
}
.header-tool span ,.header-tool a{
    font-size: 12px;
    vertical-align: middle;
}
.tool-options{
    position: relative;
    font-size: 0;
    cursor: pointer;
}
.tool-options span{
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 66px;
    vertical-align: top;
}
.login-main{
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    width: 1150px;
}






































//footer
.yoho-footer {
    font-size: 12px;
}
.yoho-footer .footerbottom {
    width: 100%;
}
.yoho-footer * {
    box-sizing: border-box;
}
.yoho-footer .promise {
    padding: 20px 0 10px;
    background: #000;
}
.center-content {
    width: 1150px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
.yoho-footer .promise .left {
    margin-right: 60px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
}
.left, .pull-left {
    float: left;
}
.yoho-footer .promise .left .iconfont {
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 5px;
}
.yoho-footer .red {
    color: #e01;
}
.yoho-footer .rgbf {
    color: #fff;
}
.yoho-footer .promise .left {
    margin-right: 60px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
}
.yoho-footer .promise .left .iconfont {
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 5px;
}
.yoho-footer .footer-help {
    background: #000;
    font-size: 12px;
    overflow: hidden;
}
.yoho-footer .footer-help>div {
    padding: 15px 0;
    border-top: 1px solid #262626;
}
.yoho-footer .footer-help ul {
    width: 110%;
}
.yoho-footer .footer-help li {
    width: 180px;
}
.yoho-footer .footer-help p {
    line-height: 24px;
}
.yoho-footer .footer-help p a {
    color: #666;
}
.yoho-footer .footer-link {
    background: #000;
    padding: 10px 0 14px;
    font-size: 12px;
}
.yoho-footer .footer-link .about-us {
    line-height: 20px;
    color: #666;
    padding-left: 300px;
    position: relative;
}
.yoho-footer .footer-link .left-flag {
    margin-top: 3px;
    position: absolute;
    left: 0;
    top: 12px;
}
.yoho-footer .footer-link .left-flag .govicon{
    display: inline-block;
    border-radius: 2px;
    margin-right: 8px;
    background: #fff;
    width: 76px;
    height: 34px;
}
.yoho-footer .footer-link .left-flag .govimg {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background: no-repeat;
}
.yoho-footer .footer-link .left-flag a {
    margin-right: 5px;
}
.yoho-footer .footer-link .links {
    word-break: keep-all;
}
.yoho-footer .footer-link .about-us a {
    color: #666;
}
.yoho-footer .footer-link .about-us span {
    padding: 0 10px;
}
.yoho-footer .footer-link .copyright {
    text-align: center;
    color: #666;
    padding-top: 20px;
    line-height: 20px;
}
.yoho-footer .footer-link-container {
    background: #000;
    height: 48px;
    overflow: hidden;
    width: 100%;
}
.yoho-footer .footer-link-container>div {
    padding-top: 15px;
    border-top: 1px solid #262626;
}
.yoho-footer .footer-link-container .link-info {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0;
    width: 60px;
    height: 48px;
}
.yoho-footer .footer-link-container .link-section {
    opacity: .9;
    font-size: 12px;
    letter-spacing: 0;
    width: 1090px;
    position: relative;
}
.yoho-footer .footer-link-container .link-section li:first-child {
    margin-left: 11px;
}
.yoho-footer .footer-link-container .link-section li {
    display: inline-block;
    margin-left: 22px;
    height: 48px;
}
.yoho-footer .right-floating-layer {
    position: fixed;
    width: 60px;
    left: 50%;
    bottom: 20px;
    margin-left: 595px;
    z-index: 4;
}
.yoho-footer .qrcode-hover-box {
    width: 71px;
    position: relative;
    left: -11px;
    text-align: right;
}
.yoho-footer .layer-box:first-child {
    margin-top: 0;
}
.yoho-footer .qrcode-download-right {
    display: inline-block;
}
.yoho-footer .layer-box {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #000;
    opacity: .5;
    cursor: pointer;
    margin-top: 20px;
}
.yoho-footer .qrcode-download-right .qrcode-img {
    width: 28px;
    height: 28px;
    background-position: -71px 0;
    background-size: 123px 122px;
    display: inline-block;
    margin-top: 16px;
}
.yoho-footer .download-app-box {
    position: absolute;
    bottom: -80px;
    left: -286px;
    width: 296px;
    height: 180px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: transparent;
    z-index: 1000;
    display: none;
    border: none;
    *zoom: 1;
}
.yoho-footer .download-app-box .download-app-left, .yoho-footer .download-app-box .download-app-right {
    position: relative;
    float: left;
    width: 130px;
    height: 180px;
    padding-top: 10px;
    text-align: center;
    background-color: #f4f4f4;
}
.yoho-footer .download-app-box .qr-code-img {
    margin: 10px auto;
    width: 96px;
    height: 96px;
}
.yoho-footer .download-app-box .qr-words {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    color: #000;
}
.yoho-footer .download-app-box .qr-code-img>img {
    width: 100%;
    height: 100%;
}
.yoho-footer .download-app-box .qr-more a {
    color: #d71d32;
    cursor: pointer;
}
.iconfontlast{
    font-size: 50px;
    vertical-align: middle;
}